name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Development Environment
      uses: jdx/mise-action@v3

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Check ktlint
      run: ./gradlew ktlintCheck --no-daemon

    - name: Build with shadowJar
      run: ./gradlew shadowJar --no-daemon

    - name: Upload build artifact
      uses: actions/upload-artifact@v6
      if: success()
      with:
        name: rune-core-jar-${{ github.sha }}
        path: build/libs/*-all.jar
        retention-days: 7
